In [1]:
import time
import pandas as pd
from sqlalchemy import create_engine

In [2]:
green_taxi_data = pd.read_csv('green_tripdata_2019-10.csv.gz')

/var/folders/fv/pqhghnqj19zb07cx_5n_40_c0000gn/T/ipykernel_2592/2515772389.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green_taxi_data = pd.read_csv('green_tripdata_2019-10.csv.gz')

In [4]:
# yellow_taxi_data.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [3]:
green_taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [4]:
green_taxi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

In [6]:
pd.io.sql.get_schema(green_taxi_data, name="green_taxi_data")

'CREATE TABLE "green_taxi_data" (\n"VendorID" REAL,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" REAL,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" REAL,\n  "trip_type" REAL,\n  "congestion_surcharge" REAL\n)'

In [7]:
df_structure = green_taxi_data.head(0)

df_structure

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [8]:
df_structure.to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [9]:
green_taxi_data.lpep_pickup_datetime = pd.to_datetime(green_taxi_data.lpep_pickup_datetime)
green_taxi_data.lpep_dropoff_datetime = pd.to_datetime(green_taxi_data.lpep_dropoff_datetime)

In [10]:
i = 0
chunk_size = 10000

while i < len(green_taxi_data):
    t_start = time.time()

    green_taxi_data[i:i + chunk_size].to_sql(
        name="green_taxi_data", 
        con=engine, 
        if_exists="append"
    )

    i += chunk_size
    t_end = time.time()

    print('Inserted another chunk... took %.3f second(s)' % (t_end - t_start))

print("Insertion is compelete")

Inserted another chunk... took 0.933 second(s)
Inserted another chunk... took 0.985 second(s)
Inserted another chunk... took 0.599 second(s)
Inserted another chunk... took 1.027 second(s)
Inserted another chunk... took 0.798 second(s)
Inserted another chunk... took 0.866 second(s)
Inserted another chunk... took 1.013 second(s)
Inserted another chunk... took 1.102 second(s)
Inserted another chunk... took 1.295 second(s)
Inserted another chunk... took 0.996 second(s)
Inserted another chunk... took 0.835 second(s)
Inserted another chunk... took 0.723 second(s)
Inserted another chunk... took 0.657 second(s)
Inserted another chunk... took 0.845 second(s)
Inserted another chunk... took 0.827 second(s)
Inserted another chunk... took 0.773 second(s)
Inserted another chunk... took 0.871 second(s)
Inserted another chunk... took 0.675 second(s)
Inserted another chunk... took 0.754 second(s)
Inserted another chunk... took 0.848 second(s)
Inserted another chunk... took 0.832 second(s)
Inserted another chunk... took 0.728 second(s)
Inserted another chunk... took 1.271 second(s)
Inserted another chunk... took 1.048 second(s)
Inserted another chunk... took 1.223 second(s)
Inserted another chunk... took 0.602 second(s)
Inserted another chunk... took 0.653 second(s)
Inserted another chunk... took 0.773 second(s)
Inserted another chunk... took 1.023 second(s)
Inserted another chunk... took 0.974 second(s)
Inserted another chunk... took 0.651 second(s)
Inserted another chunk... took 1.388 second(s)
Inserted another chunk... took 0.780 second(s)
Inserted another chunk... took 0.693 second(s)
Inserted another chunk... took 0.582 second(s)
Inserted another chunk... took 0.891 second(s)
Inserted another chunk... took 0.669 second(s)
Inserted another chunk... took 0.583 second(s)
Inserted another chunk... took 0.832 second(s)
Inserted another chunk... took 0.657 second(s)
Inserted another chunk... took 0.512 second(s)
Inserted another chunk... took 0.545 second(s)
Inserted another chunk... took 0.785 second(s)
Inserted another chunk... took 0.527 second(s)
Inserted another chunk... took 0.501 second(s)
Inserted another chunk... took 0.752 second(s)
Inserted another chunk... took 0.726 second(s)
Inserted another chunk... took 0.428 second(s)
Insertion is compelete